*{
    font-family:Arial, Helvetica, sans-serif;
    /*border: 3px solid green;*/
}

body{
    margin:auto;
    max-width: 800px;
    min-width:320px;
}

h1{
    margin:0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

article{
    display:flex;
    padding: 10px;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    text-align: center;
}

section{
    padding: 10px;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
}

input[type="text"]{
    font-size:24px;
    flex-grow:7;
}

button{
    flex-grow:3;
}

ul{
    margin:0;
    padding: 0;
}

.todo-unfinished{
    background-color:#0099ff;
    display:flex;
    padding: 1em;
    margin:0.5em;
    border-radius:1em;
}

.todo-finished{
    background-color:#0099ff;
    display:flex;
    padding: 1em;
    margin:0.5em;
    border-radius:1em;
    text-decoration: line-through;
}

.todo-unfinished p{
    margin:0;
    font-size:24px;
    width:90%;
    min-height:50px;
    max-height:150px;
}

.todo-finished p{
    margin:0;
    font-size:24px;
    width:90%;
    min-height:50px;
    max-height:150px;
}

li a{
    width:10%;
    height:50px;
    color: black;
    transition: all 0.5s ease-in; 
}

li a:hover {
    color: white;
    transition: all 0.5s ease-out; 
}
